[Unit]
Description=Start Jack Audio Server.
# Requires=xorg.target
# After=xorg.target
Requires=pulseaudio.service
Before=pulseaudio.service
Conflicts=jackd-lenovo.service
OnFailure=jackd-lenovo.service

[Service]
# Environment=DISPLAY=:0
# User=eqyiel
ExecStart=/usr/bin/jackd -t 200 -R -T -d alsa -n 2 -r 44100 -p 128 -d hw:USB,0

[Install]
WantedBy=default.target
