[Unit]
Description=Compile custom XKB keyboard description

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/eqyiel/.nix-profile/bin/xkbcomp -I%h/.xkb %h/.xkb/xkbmap $DISPLAY

[Install]
WantedBy=default.target
