[user]
  email = ruben@maher.fyi
  name = Ruben Maher
  signingkey = r@rkm.id.au
[core]
  editor = "emacsclient -c -a=\"\""
  excludesfile = ~/.gitignore_global
  autocrlf = false
[merge]
  tool = emerge
[color]
  ui = true
[push]
  default = current
[sendemail]
  smtpuser = ruben@maher.fyi
  smtpserver = /usr/bin/msmtp
  smtpencryption = ssl
[sendpack]
  sideband = false
[alias]
  # https://docs.gitlab.com/ee/user/project/merge_requests/index.html#checkout-locally-by-adding-a-git-alias
  mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
  pr = !sh -c 'git fetch $1 pull/$2/head:pr-$1-$2 && git checkout pr-$1-$2' -
