[user]
  email = ruben@maher.fyi
  name = Ruben Maher
  signingkey = r@rkm.id.au
[core]
  editor = "emacsclient -c -a=\"\""
  excludesfile = ~/.gitignore_global
  autocrlf = false
[merge]
  tool = emerge
[color]
  ui = true
[push]
  default = current
[sendemail]
  smtpuser = ruben@maher.fyi
  smtpserver = /usr/bin/msmtp
  smtpencryption = ssl
[sendpack]
	sideband = false
