[submodule "src/lib/.local/lib/gnome-terminal-colors-solarized"]
	path = src/lib/.local/lib/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "src/lib/.local/lib/Elementary-OS-Terminal-Colors"]
	path = src/lib/.local/lib/Elementary-OS-Terminal-Colors
	url = https://github.com/Mayccoll/Elementary-OS-Terminal-Colors
[submodule "src/share/.local/share/doc/gitmagic"]
	path = src/share/.local/share/doc/gitmagic
	url = git://repo.or.cz/gitmagic.git
[submodule "nix/.nix-defexpr/darwin"]
	path = nix/.nix-defexpr/darwin
	url = git@github.com:LnL7/nix-darwin.git
[submodule "nix/.config/nixpkgs/packages/riot"]
	path = nix/.config/nixpkgs/packages/riot
	url = git@github.com:eqyiel/riot-electron-nix.git
[submodule "nix/.config/nixpkgs/nixops/realms/tomoyo.maher.fyi/lib/matrix-appservice-irc-nixos"]
	path = nix/.config/nixpkgs/nixops/realms/tomoyo.maher.fyi/lib/matrix-appservice-irc-nixos
	url = git@github.com:Ralith/matrix-appservice-irc-nixos.git
[submodule "nix/.nix-defexpr/nixos-mailserver"]
	path = nix/.nix-defexpr/nixos-mailserver
	url = git@github.com:eqyiel/nixos-mailserver.git
[submodule "nix/.nix-defexpr/home-manager"]
	path = nix/.nix-defexpr/home-manager
	url = git@github.com:rycee/home-manager.git
[submodule "nix/.nix-defexpr/matrix-appservice-irc-nixos"]
	path = nix/.nix-defexpr/matrix-appservice-irc-nixos
	url = git@github.com:eqyiel/matrix-appservice-irc-nixos.git
[submodule "nix/.nix-defexpr/nixpkgs-mozilla"]
	path = nix/.nix-defexpr/nixpkgs-mozilla
	url = git@github.com:mozilla/nixpkgs-mozilla.git
[submodule "nix/.nix-defexpr/nixpkgs"]
	path = nix/.nix-defexpr/nixpkgs
	url = git@github.com:eqyiel/nixpkgs.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:eqyiel/.emacs.d.git
