[submodule "src/lib/.local/lib/dircolors-solarized"]
	path = src/lib/.local/lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "src/lib/.local/lib/gnome-terminal-colors-solarized"]
	path = src/lib/.local/lib/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "src/lib/.local/lib/Elementary-OS-Terminal-Colors"]
	path = src/lib/.local/lib/Elementary-OS-Terminal-Colors
	url = https://github.com/Mayccoll/Elementary-OS-Terminal-Colors
[submodule "src/share/.local/share/doc/gitmagic"]
	path = src/share/.local/share/doc/gitmagic
	url = git://repo.or.cz/gitmagic.git
[submodule "src/tmux/.local/share/tmux/tmux-yank"]
	path = src/tmux/.local/share/tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "src/tmux/.local/share/tmux/tmux-copycat"]
	path = src/tmux/.local/share/tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "src/tmux/.local/share/tmux/tmux-sensible"]
	path = src/tmux/.local/share/tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "src/tmux/.local/share/tmux/tmux-pain-control"]
	path = src/tmux/.local/share/tmux/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule "src/zsh/.local/share/zsh/zsh-syntax-highlighting"]
	path = src/zsh/.local/share/zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "src/zsh/.local/share/zsh/zaw"]
	path = src/zsh/.local/share/zsh/zaw
	url = https://github.com/zsh-users/zaw
[submodule "lib/grml-etc-core"]
	path = lib/grml-etc-core
	url = https://github.com/grml/grml-etc-core
[submodule "lib/nixpkgs"]
	path = lib/nixpkgs
	url = git@github.com:eqyiel/nixpkgs.git
[submodule "src/zsh/.local/share/zsh/zsh-autosuggestions"]
	path = src/zsh/.local/share/zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "src/nix/.nixpkgs/darwin/nixpkgs"]
	path = src/nix/.nixpkgs/darwin/nixpkgs
	url = git@github.com:eqyiel/nixpkgs.git
