[submodule "src/lib/.local/lib/dircolors-solarized"]
	path = src/lib/.local/lib/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "src/lib/.local/lib/gnome-terminal-colors-solarized"]
	path = src/lib/.local/lib/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
