# Enable one or more of these accounts
# You can either provide your passwords or your md5 hash.
# To get a md5 of a string type this into a shell: python -c "import getpass,
# hashlib; print(hashlib.md5(getpass.getpass().encode('utf-8')).hexdigest())"

[MyLastfmAccount]
type = lastfm
username = eqyiel
password =
password_cmd = "pass www/last.fm"

#A sample Libre.fm account.
#[MyLibrefmAccount]
#type = librefm
#username =
#password =
#md5_password_hash =

#A sample custom account account
#[MyCustomAccount]
#type = custom
#submit_url =
#username =
#password =
#md5_password_hash =
