# Don't set a prefix in ~/.npmrc, npm doesn't do variable expansion very well.
# It will read from $PREFIX if no prefix is defined in this file and the same
# prefix will be observed by yarn as well.
#
# See ~/.zshrc.local for how this is getting set.
#
# See also: https://github.com/yarnpkg/yarn/issues/2017#issuecomment-262692935
# prefix=~/.local

# Don't even think about using "${HOME}" here, npm doesn't understand it.
cache=~/.cache/npm

init.author.name=Ruben Maher
init.author.email=r@rkm.id.au
init.author.url=https://rkm.id.au/
