# deployments/.envrc

export NIXOPS_STATE="$(pwd)/secrets/store/deployments.nixops"
export NIX_PATH="${NIX_PATH}:$(find realms -not \( -path '*/nixpkgs' -prune \) -type d -exec printf '%s' $(pwd)/ {}: \;)"

# If you don't want to pin each realm to a specific commit of nixpkgs you can
# just grab the latest tarball like so:
# export NIXPKGS="https://github.com/NixOS/nixpkgs-channels/archive/nixos-16.09.tar.gz"
# export NIX_PATH="$(find realms -type d -exec printf '%s' $(pwd)/ {}: \;):nixpkgs=${NIXPKGS}"

# Local Variables:
# mode: shell-script
# sh-basic-offset: 2
# End:
